body{
  margin:0;
height:100%;
    position:relative;


} 
body::after {
  content: "";
background-image:url(../image/nut2.jpg);
    background-attachment:fixed;
    background-repeat:repeat;
    height:100%;
  opacity: 0.5;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 

}

 body>#main-body{
     max-width:1000px;
    margin: 0 auto;
background-color: rgba(255, 255, 255, 0.7);
    width:100%;
 
 }

h1{ font-family: 'Patrick Hand SC', cursive;
    text-align:center;
    color:blue;
}
h2{ color:red;
    text-align:center;
  font-family: 'Patrick Hand SC', cursive;
}
h3{ color:red;
     font-family: 'Muli|Patrick+Hand+SC', cursive;
}


a{ 
    color:white;
   font-family: 'Patrick Hand SC', cursive;
    font-size:20px;
    padding:10px;
    text-decoration:none;
   text-shadow: 1px 1px 2px black, 0 0 10px red;
   cursor:auto;
}

.picture>img{
    width:100%;
}
article{
    margin:10px ;
    width:99%;
    font-family: 'Patrick Hand SC', cursive;
}

fieldset{
    margin-left:200px;
}
}
#callback{
    display:flex;
     justify-content:center;
     margin:50px 0;
}

.icon>img{
    height:50px;
    width:50px;
    padding:10px;
}
.scrollUp {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 40px;
    width: 64px;
    height: 64px;
    z-index: 10;
    opacity: .65;
    background: url(../images/arrow-up.svg) no-repeat;
}

.scrollUp:hover {
    opacity: 1;
    transition: all .2s ease-in-out;
}

#footer-menu{
    height:300px;
       display:flex;
    justify-content:flex-start;
    align-content:space-around;
}

#contacts{
    flex-direction:column;
    width:250px;
    height:300px;
    margin-left:30px;
    margin-top: 50px;
 
}
#map{
    height:300px;
    margin-left:10px;
   
}

.footer-submenu{
background-color: rgba(36, 54, 103, 1);
width:99%;
}
.footer-submenu>p{
  margin-left:400px;
  color:white;
 font-family: 'Pacifico', cursive;
  font-stretch: expanded;
  font-size:20px;
  
}

 
@media screen and (max-device-width: 480px) {
     body{ 
          max-width:1000px;
          margin:0 auto;
          background:white;
        }
      h1{ font-size:50px;}
      h2{
          font-size:40px;
      }
      h3{ font-size:30px;}
      nav{
          
          margin:0 auto;
          padding:10px;
          }
     .main-menu>li{
        
          padding:20px;
          font-size:40px;
          }
      a>.myproject{
          display:flex;
          flex-wrap:wrap;
          height:300px;
          width:300px;
          }
       fieldset{
           border:none;
           width:100%;
       }
       
       input textarea{
           width:100%;
           padding:30px;
           font-size:40px;
           
       }
       #footer-menu{
           display:flex;
           flex-wrap:wrap;
           height:800px;
       }
       #map{
           height:400px;
           width:100%;
        
           align-self:center;
       }
      #contakts{
         flex-direction:column;
         
      }
      .footer-submenu>p{
  margin-left:200px;

  
}
}
  }
.image-gym>img{
    width:99%;
    margin:10px auto;
    border:1px solid;
}












