body{
  margin:0;
  background-image:url(../image/background1.jpg);
  background-repeat:repeat;


} 

 body>#main-body{
     max-width:1000px;
    margin: 0 auto;
    background-color:white;
    width:100%;
 
 }

h1{ font-family: 'Patrick Hand SC', cursive;
    text-align:center;
    color:blue;
}
h2{ color:red;
    text-align:center;
  font-family: 'Patrick Hand SC', cursive;
}
h3{ color:red;
     font-family: 'Muli|Patrick+Hand+SC', cursive;
}

nav{
    background-color:#642EFE;
    margin:0 auto;
    padding:10px;
}
.main-menu .sub-menu{
    position:absolute;
    display:none;
    background-color:#642EFE;
    margin:0 auto;
    padding:10px;
    
}
.main-menu>li{
    display:inline-block;
    position:relative;
     list-style:none;
}
.main-menu>li:hover .sub-menu{
    position:absolute;   
    display:block;
     color:white;
    text-align:center;
  font-family: 'Patrick Hand SC', cursive;
  width:200px;
  font-size:20px;
}

a{ 
    color:white;
   font-family: 'Patrick Hand SC', cursive;
    font-size:20px;
    padding:10px;
    text-decoration:none;
   text-shadow: 1px 1px 2px black, 0 0 10px red;
   cursor:auto;
}
a:hover{
    color:yellow;
}
.picture>img{
    width:100%;
}
article{
    margin:10px ;
    width:99%;
    font-family: 'Patrick Hand SC', cursive;
}
.mywork{
    display:inline;
    z-index:2;
    
}
a>.myproject{
    height:200px;
    width:200px;
    border:1px solid;
    border-radius:50%;
  
    
}
a>.myproject:hover {
    transform: scale(2);
 
}
#callback{
    display:flex;
     justify-content:center;
     margin:50px 0;
}
input{
   width:700px;
   padding:20px;
    font-family: 'Patrick Hand SC', cursive;
    font-size:30px;
    opacity:0.6
    z-index:1;
    align-self:center;
    margin-top:30px;
    background-color:rgba(87, 214, 208, 0.1);
}
input:hover{
    background-color: rgba(220, 83, 99, 0.1);
}

input[type="submit"]{
    background:gray;
    border-radius:10px;
    box-shadow: 0 0 10px rgba(220,98,31,0.5);
    font-size:20px;
    margin-left:30px;
    margin-top:30px;
    
}
input[type="submit"]:hover{
    background-color: rgba(220, 83, 99, 0.1);
}
textarea{
    margin-left:22px;
}
.icon>img{
    height:50px;
    width:50px;
    padding:10px;
}

#footer-menu{
    height:800px;
       display:flex;
    justify-content:flex-start;
    align-content:space-around;
}

#contacts{
    flex-direction:column;
    width:300px;
    height:300px;
    margin-left:70px;
    margin-top: 50px;
 
}
#map{
    margin-left:10px;
}

.footer-submenu{
   
background-color: rgba(36, 54, 103, 1);
margin-top:-350px;
width:100%;

}
.footer-submenu>p{
  margin-left:400px;
  color:white;g
 font-family: 'Pacifico', cursive;
  font-stretch: expanded;
  font-size:20px;
  
}
.image-gym>img{
    width:99%;
    margin:10px auto;
}












