//*@media screen and (min-width:480px){
  
    .mywork{
    display:inline;
    z-index:2;
    
}
a>.myproject{
    height:400px;
    width:400px;
    border:1px solid;
    border-radius:20%;
  
    
}
a>.myproject:hover {
    transform: scale(2);
 
}
}
